<h2 style="color: #3a3a99;  margin-bottom: 20px;">Sign Up</h2>
<%= form_with model: @user, url: signup_path do |f| %>
  <div >
    <%= f.label :email , style: "font-weight: bold;"%><br>
    <%= f.text_field :email ,style: "padding: 6px; border-radius: 4px; border: 1px solid #ccc; width: 220px;" %>
  </div>
  <div>
    <%= f.label :username , style: "font-weight: bold;"%><br>
    <%= f.text_field :username ,style: "padding: 6px; border-radius: 4px; border: 1px solid #ccc; width: 220px;" %>
  </div>
  <div>
    <%= f.label :password , style: "font-weight: bold;"%><br>
    <%= f.password_field :password ,style: "padding: 6px; border-radius: 4px; border: 1px solid #ccc; width: 220px;" %>
  </div>
  <div>
    <%= f.label :password_confirmation , style: "font-weight: bold;"%><br>
    <%= f.password_field :password_confirmation ,style: "padding: 6px; border-radius: 4px; border: 1px solid #ccc; width: 220px;" %>
  </div>
  <div style="margin-top:5px;">
    <%= f.submit "Sign Up", style: "background-color: #3a3a99; color: white; border: none; border-radius: 4px; padding: 8px 20px; cursor: pointer;" %>
  </div>
<% end %>
